@media (max-width: 920px) {
    #topo {height: 230px; width: 100%;}
    #topo .logo {height: 100px; width: 100%;}
    #topo .titulo {height: 50px; width: 100%;}
    #topo .titulo h1 {font-size: 22px;}
    #topo .titulo h2 {font-size: 15px;}
    #topo .restrito {height: 40px; width: 100%;}

    .banner {height: auto; max-width: 100%;}
    .banner img {height: auto; max-width: 100%;}
     
    #texto-banner {height: auto; max-width: 100%;}
    #texto-banner h2 {height: auto; max-width: 100%;}
    #texto-banner p {font-size: 14px;}

    #contato {height: 600px; width: 100%;}
    #contato .formulario {height: 400px; width: 100%;}
    #contato .mapa {height: 200px; width: 100%;}

    #rodape {height: 260px; width: 100%;}
    #rodape .endereco {height: 160px; width: 100%;}
    #rodape .links {height: 100px; width: 50%;}
    #rodape {font-size: 14px;}
}